<nav class="signup-navbar grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="left brand-logo">MovieSpot</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/own">Movies You Own</a></li>
      <li><a href="/wishlist">Wishlist</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container content">
  <form action="/auth/login" method="POST">
    <div class="form-group">
      <label for="authEmail">Email</label>
      <input id="authEmail" class="form-control" type="email" name="email">
    </div>

    <div class="form-group">
      <label for="authPassword">Password</label>
      <input id="authPassword" class="form-control" type="password" name="password">
    </div>

    <input class="btn btn-primary" type="submit">
  </form>
</div>


<footer class="page-footer signup-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
    © 2018
    <a class="grey-text text-lighten-4 right" href="/">Home</a>
    </div>
  </div>
</footer>
