<nav class="brown darken-3">
  <div class="nav-wrapper">
    <a href="#" class="left brand-logo">MovieSpot</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/own">Movies You Own</a></li>
      <li><a href="/wishlist">Wishlist</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<% include partials/alerts %>

<h2 class="text-center">Movies</h2>


<div class="container">
  <div class="well">
    <form action="/movie" method="post">
      <label>Search Movies:</label>
      <input type="text" name="search">
      <button type="submit" name="button">Search</button>
    </form>
  </div>
  <div class='row'>
    <% for(i=0; i< 9; i++){ %>
      <div class="col s4">
        <img src="<%= movies[i].Poster %>" class="poster">
        <h6 class="title"><%= movies[i].Title %></h6>
      </div>
    <% } %>
  </div>
</div>

<footer class="page-footer brown darken-3">
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
