<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="/" class="left brand-logo">MovieSpot</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/own">Movies You Own</a></li>
      <li><a href="/wishlist">Wishlist</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <h2 class="text-center">Movies You Own</h2>

  <ul class="container">
    <% ownlist.forEach(function(movie) { %>
        <li class="item"><a class="own-item" href="/info/<%= movie.imdbId %>"><%= movie.name %></a><button type="button" name="button" class="deleteButton waves-effect waves-light btn" href="/own/<%= movie.id %>/<%= list.id %>">DELETE</button></li>
    <% }); %>
  </ul>
</div>

<footer class="page-footer own-footer grey darken-3">
  <div class="footer-copyright">
    <div class="container">
    © 2018 MovieSpot
    <a class="grey-text text-lighten-4 right" href="/">Home</a>
    </div>
  </div>
</footer>
