body {
  background-image: url('images/cork-wallet.png');
  background-size: cover;
}

.poster {
  width: 80%;
  height: 20em;
}

.title {
  width: 80%;
  text-align: center;
}

.col {
  height: 28em;
}

.poster-column {
  margin-right: 5em;
}

.poster-column,
.info-column {
  display: inline-block;
  width: 40%;
  margin-bottom: 5em;
  vertical-align: top;
}
