body {
  background-image: url('images/cork-wallet.png');
  background-size: cover;
}

.poster {
  width: 80%;
  height: 20em;
}

.title {
  width: 80%;
  text-align: center;
}

.col {
  height: 28em;
}
