body {
  background-image: url('cork-wallet.png');
  background-size: cover;
}

.poster {
  width: 80%;
  height: 20em;
}

.title {
  width: 80%;
  text-align: center;

}

.col {
  height: 28em;
}

.poster-column {
  margin-right: 5em;
}

.poster-column,
.info-column {
  display: inline-block;
  width: 40%;
  margin-bottom: 5em;
  vertical-align: top;
}

.signup-navbar {
  margin-bottom: 5em;
}

.signup-footer {
  margin-top: 5em;
}

.own-btn,
.wishlist-btn {
  display: inline-block;
}

.own-footer {
  margin-top: 5em;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.movie-footer {
  margin-top: 5em;
}

.search {
  color: white;
  font-size: 2em;
  font-family: 'Montserrat Alternates', sans-serif;
}

.search-input {
  background-color: white;
  color: white;
}

.search,
.search-input,
.search-btn {
  display: inline-block;
}

.movie a {
  text-decoration: none;
  color: black;
}

.movie a:hover {
  color: grey;
}

.name {
  color: white;
}

.review {
  color: white;
}

.brand-logo {
  font-family: 'Shrikhand', cursive;
  text-decoration: none;
}

li {
  font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
  font-family: 'Monofett', cursive;
}

.wishlist-item,
.own-item,
.title {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  margin-right: 2em;
  text-align: center;
  background-color: lightgrey;
  border: 1px solid black;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 100px;
}

.item {
  text-align: center;
}

.deleteButton {
  margin-bottom: .5em;
}

h1 {
  font-family: 'Monofett', cursive;
}

.edit {
  width: 4em;
  padding-right: 3px;
  padding-left:3px;
  margin-top: 1em;
}

.edit-content {
  color: black;
  border-radius: 5px;
  width: 55em;
  height: 10em;
}
